language: go

sudo: required

services:
  - docker

matrix:
  # fail fast
  fast_finish: true
  include:
    - go: 1.12.1

before_install:
  - go get golang.org/x/tools/cmd/cover github.com/mattn/goveralls

install:
  - skip

script:
  - make ci
  - goveralls -coverprofile=target/.coverprofile -service=travis-ci -repotoken $COVERALLS_API_TOKEN
