[Unit]
Description=DigitalOcean Observability Supervisor
After=network-online.target
Wants=network-online.target

[Service]
User=do-agent
ExecStart=/opt/digitalocean/bin/do-obsd --syslog
Restart=on-failure
RestartSec=5s

OOMScoreAdjust=-900
SyslogIdentifier=DigitalOceanObservabilitySupervisor
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
